@charset "utf-8";

a:link {
    color: magenta;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: orange;
    background-color: transparent;
    text-decoration: none;
}

body { background-color: rgb(249, 246, 255);}

h1 {text-align : center;
    color :rgb(85, 19, 125);}
	
h2 {text-align : center;
    color :rgb(85, 69, 125);}
	
h3 {
	text-align: center;
}

p {
	color : rgb(139, 120, 255);
}

p.a {
	text-align:center;
	font-size:19px;
}

button {color : rgb(85, 62, 125);
    	background-color: rgb(235, 229, 244);}
		
img {width : 300px;
height : 250px;
}

